@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: 'Roboto Mono', monospace;
}

/* .is-active {
  background-color: rgb(139, 175, 42);
} */
a.active {
  color: red;
}

/* .inactive {
  background-color: red;
} */
