@tailwind base;
@tailwind components;
@tailwind utilities;
/* .is-active {
  background-color: black;
} */
.active {
  background-color: white;
  border: 1px solid black;
}
/* .inactive {
  background-color: red;
} */
