@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  background-color: #4d8890;
}
/* .is-active {
  background-color: rgb(139, 175, 42);
} */
.active {
  border: 2px solid red;
}

/* .inactive {
  background-color: red;
} */
body {
  background-color: rgb(238, 235, 235);
}
